.heading {
    width: 100%;
    text-align: left;
}

.heading h2 {
    display: inline;
}

.heading button {
    float: right;
    border: 1px solid white;
}

body{
    background-size: cover;
}

#start,
#status {
    font-size: 22px;
}
canvas{
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}